{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"  rossorigin="anonymous">
    <title>NASA-İmage Of The Day</title>
  </head>
  <body>
    <div class="container">
      <div class="row "><!-- justify-content-center -->
        <div class="col-8">
          <h1 class="mt-2">NASA-Image Of The Day</h1>
          <hr class="mt-0 mb-4">
          {% block body %}
          {% endblock %}
        </div>
      </div>
    </div>
   <script src="{% static 'js/jquery.min.js'%}" ></script></script>
        <script src="{% static 'js/bootstrap.min.js'%}" ></script>
  </body>
</html>